{% extends 'main.html' %}
{% block content %}

<h5>Lista rezerwacji</h5>
<table class="table">
    <tr>
        <th>Rezerwujący</th>
        <th>Budynek</th>
        <th>Sala</th>
        <th>Data</th>
    </tr>
    {% for reservation in reservations %}
    <tr>
        <td>
            {{ reservation.rezerwujacy }}
        </td>
        <td>
            <a href="{% url 'building' reservation.room.building.id %}">{{ reservation.room.building.number }}</a>
        </td>
        <td>
            <a href="{% url 'room' reservation.room.id %}">{{ reservation.room.number }}</a>
        </td>
        <td>
            {{ reservation.date }}
        </td>

    </tr>

    {% endfor %}
</table>


{% endblock content %}

