{% extends 'main.html' %}
{% block content %}

<h5>Lista budynków</h5>
<table class="table">
    {% for building in buildings %}
    <tr>
        <td>
            {{ building.street }} {{ building.number }} {{ building.town }}
        </td>
        <td>
            <a href="{% url 'building' building.id %}">Szczegóły</a>
        </td>
        <td>
            <a href="{% url 'update-building' building.id %}">Edytuj</a>
        </td>
        <td>
            <a href="{% url 'delete-building' building.id %}">Usuń</a>
        </td>
    </tr>

    {% endfor %}
</table>


{% endblock content %}