{% extends 'main.html' %}
{% block content %}

<h5>Rezerwujący</h5>
<table class="table">
    <tr>
        <td>Id</td>
        <td>{{ reserving_person.id }}</td>
    </tr>
    <tr>
        <td>Imię</td>
        <td>{{ reserving_person.name }}</td>
    </tr>
    <tr>
        <td>Nazwisko</td>
        <td>{{ reserving_person.surname }}</td>
    </tr>
    <tr>
        <td>Zarezerwowane sale</td>
        {% if reservations %}
        <td>
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>Nr sali</th>
                    <th>Data</th>
                    <th>Godziny</th>
                </tr>
                {% for reservation in reservations %}
                <tr>
                    <td>
                        <a href="{% url 'reservation' reservation.id %}">{{ reservation.id }}</a>
                    </td>
                    <td>
                        <a href="{% url 'room' reservation.room.id %}">{{ reservation.room.number }}</a>
                    </td>
                    <td>
                        {{ reservation.date }}
                    </td>
                    <td>
                        {{ reservation.start_time }} - {{ reservation.end_time }}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </td>
        {% else %}
        <td>Brak</td>
        {% endif %}
    </tr>
</table>

{% endblock content %}