{% extends 'main.html' %}

{% load crispy_forms_tags %}

{% block content %}

<style>
    .time-input {
        width: 50px;
        height: 50%
    }
</style>

<h5> Sala o numerze {{ room.number }}</h5>
<hr>
<h6>Informacje o sali:</h6>
    <section>
        <p>
            <b>Pojemność:</b> {{ room.volume }}<br>
            <b>Powierzchnia:</b> {{ room.area }}m<sup>2</sup><br>
            <b>Wyposażenie:</b> {{ room.equipment }} <br>
            <b>Dostęp dla osób z niepełnosprawnością: </b>{{ handicapped }}<br>
            <b>Piętro:</b> {{ room.floor }} <br>
            <b>Budynek:</b> Budynek o numerze {{ building.number }} <br>
            <b>Dostępność w danym terminie:</b> <br>
        </p>
    </section>
<hr>

<h6>Zarezerwuj sale:</h6>
<form method="POST" novalidate>
    {% csrf_token %}
    {{ form|crispy }}

    <input type="submit" class="btn btn-success">
</form>

{% endblock content %}