{% extends 'main.html' %}

{% block content %}

<style>
    .time-input {
        width: 50px;
        height: 50%
    }
</style>

<h5>{{name}}</h5>
<form>
    Data rezerwacji:
    <input type="date"><br>
    Godzina rezerwacji:
    <select>
        {% for option in options %}
        <option>{{ option }}</option>
        {% endfor %}
    </select><br>
    Długość rezerwacji: (godzina:minuta)
    <input type="number" class='time-input' min='0' max='23' required >:
    <input type="number" class='time-input' min="0" max="59"required>
    <hr>
    <button type="submit" value="Zatwierdź">Zatwierdź</button>
</form>

{% endblock content %}