{% extends 'main.html' %}
{% block content %}

<h5>Lista sal</h5>
<table class="table">
    <tr>
        <th>Id</th>
        <th>Numer</th>
        <th>Ilosc Osob</th>
    </tr>
    {% for room in rooms %}
    <tr>
        <td>
            {{ room.id }}
        </td>
        <td>
            {{ room.number }}
        </td>
        <td>

            {{room.po}}
        </td>
        <td>
            <a href="{% url 'room' room.id %}">Szczegóły</a>
        </td>
        <td>
            <a href="{% url 'update-room' room.id %}">Edytuj</a>
        </td>
        <td>
            <a href="{% url 'delete-room' room.id %}">Usuń</a>
        </td>
    </tr>

    {% endfor %}
</table>


{% endblock content %}

