{% extends 'main.html' %}
{% block content %}

<h5>Sala</h5>
<table class="table">
    <tr>
        <td>Id</td>
        <td>{{ room.id }}</td>
    </tr>
    <tr>
        <td>Powierzchnia w m2</td>
        <td>{{ room.area }}</td>
    </tr>
    <tr>
        <td>Budynek</td>
        <td><a href="{% url 'building' room.building.id %}">{{ room.building }}</a></td>
    </tr>
</table>
<h5>Rezerwacje w Sali</h5>
<table class="table">
     <tr>
        <th>Nazwa</th>
        <th>Okres</th>
        <th></th>
    </tr>
    {% for booking in bookings %}
    <tr>
        <td>{{ booking.name }}</td>
        <td>{{ booking.start }} - {{ booking.end }}</td>
        <td><a href="{% url 'booking' booking.id %}">Szczegóły</a></td>
    </tr>
    {% endfor %}
</table>


{% endblock content %}