<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Hackathon 2023</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Budynki</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'buildings' %}">Lista Budynków</a>
            <a class="dropdown-item" href="{% url 'create-building' %}">Dodaj Budynek</a>
        </div>
  </li>
</ul>

