{% extends 'adminpanel/base.html' %}
{% block content %}

<h5>Budynek</h5>
<table class="table">
    <tr>
        <td>Id</td>
        <td>{{ building.id }}</td>
    </tr>
    <tr>
        <td>Ulica</td>
        <td>{{ building.street }}</td>
    </tr>
    <tr>
        <td>Numer</td>
        <td>{{ building.number }}</td>
    </tr>
    <tr>
        <td>Miasto</td>
        <td>{{ building.town }}</td>
    </tr>
    <tr>
        <td>Kod pocztowy</td>
        <td>{{ building.zip_code }}</td>
    </tr>
</table>

    <a href="{% url 'home' %}" class="btn btn-danger">Powrót</a>


{% endblock content %}